<div class="form-inputs">
  <%= simple_form_for(@van) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-van">
    <div class="col-xs-12">
      <%= f.input :description, placeholder: "Describe your van.." %>
    </div>
    <div class="col-xs-12">
      <%= f.input :address, input_html: { id: "van_address" } %>
    </div>
    <div class="col-xs-12">
      <%= f.input :cost_per_night, placeholder: "Cost per night", label: "Price"%>
    </div>
    <div class="col-xs-6">
      <%= f.input :max_guest, :collection => %w[1 2 3 4] %>
    </div>
    <div class="col-xs-6">
      <%= f.input :beds, :collection => %w[1 2 3 4] %>
    </div>
    <div class="col-xs-12">
      <%= f.input :toilet %>
    </div>
    <div class="col-xs-12">
      <%= f.input :transmission_type, :collection => %w[Manual Automatic] %>
    </div>
    <div class="col-xs-12">
      <div class="form-actions">
        <%= f.button :submit, class: "btn btn-primary btn-van-creation" %>
      </div>
    </div>
    <% end %>
  </div>
</div>



