<div class="container">
  <%= link_to "Back", root_path, class: "btn btn-primary" %>
  <h1>Selected Van</h1>
  <div class="left-box">
    <div class="card-imager" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_url 'auto.jpeg' %>');">
      <h6>Ferdinands Van</h6>
    </div>
    <ul>
        <li>Name:<%= @van.description %></li>
        <li>Owner: <%= @van.owner.name %></li>
        <li>Cost: <%= @van.cost_per_night%></li>
        <li>Location:<%= @van.location %></li>
      </ul>
    <div class="card-actions">
      <%= link_to "Book", new_van_booking_path(@van), class: "btn btn-primary"  %>
    </div>
  </div>
</div>
