<h1>Selected Van</h1>

<ul>
  <li>Name: <%= @van.description %></li>
  <li>Owner: <%= @van.owner.name %></li>
  <li>Cost per night:  <%= @van.cost_per_night%></li>
  <li>Locaion: <%= @van.location %></li>
</ul>




<!-- create booking, and sign in or log in  -->
<%= link_to "Book", new_van_booking_path(@van)  %>

<%= link_to "Back", root_path %>
