<h1>Selected Van</h1>


<div class="container_largercard">
  <div class="left-box">
  <div class="card-imager" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_url 'auto.jpeg' %>');">
  <div class="owner-detail"> <h3>Ferdinands Van</h3></div>
   <div class="list-name"><h4>Name:</h4><%= @van.description %> </div>
  <div class= "list-owner"><h4>Owner:</h4> <%= @van.owner.name %></div>
  <div class= "list-cost"><h4>Cost:</h4>  <%= @van.cost_per_night%></div>
  <div class= "list-location"><h4>Location:</h4> <%= @van.location %></div>
   </div>

  </div>

</div>



<!-- create booking, and sign in or log in  -->
<%= link_to "Book", new_van_booking_path(@van)  %>

<%= link_to "Back", root_path %>

