  <div class="banner show-page" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @van.photo,crop: :fill %>');"></div>
  <div class="listing">
    <div class="container">
      <!-- SECTION -->
      <div class="row">
        <!-- The Vehicle Summary -->
        <div class="col-md-8">
          <div class="listing-summary">
            <!-- avatar + vehicle title -->
            <div class="section">
              <div class="row">
                <div class="col-md-10 col-sm-9">
                  <h1 class="vehicle-title"><%= @van.title %></h1>
                  <h4 class="vehicle-address"><i class="fa fa-map-marker"></i><%= @van.address %></h4>
                </div>
               <div class="owner-profile col-md-2 col-sm-3">
                  <%= cl_image_tag @van.owner.photo, width: 80, height: 80, crop: :thumb, gravity: :face, class: "avatar" %>
                  <span class="owner-profile-name"><%= @van.owner.name %></span>
                </div>
              </div>
            </div>

            <hr>
            <!-- summary icons -->
            <div class="section">
              <div class="summary-icons">
                <div class="row">
                  <div class="col-xs-3">
                    <img src="<%= image_url 'vehicle-summary-icon-user-red.png' %>">
                    <p>Max Guests x<%=@van.max_guest %></p>
                  </div>
                  <div class="col-xs-3">
                    <img src="<%= image_url 'vehicle-summary-icon-bed-red.png'%>">
                    <p>Beds x<%=@van.beds %></p>
                  </div>
                  <div class="col-xs-3">
                    <img src="<%= image_url 'vehicle-summary-icon-toilet-red.png'%>">
                    <p>Toilet</p>
                  </div>
                  <div class="col-xs-3">
                    <img src="<%= image_url 'vehicle-summary-icon-transmission-auto-red.png'%>">
                    <p>Automatic</p>
                  </div>
                </div>
              </div>
            </div>
          </div></div>
        <div class="col-md-4">
          <!-- Listing-Pricing -->
          <div class="row">
            <div class="listing-pricing-container">
              <div class="listing-pricing">
              <!-- Section: Pricing Summary -->
                <div class="pricing-summary-section">
                  <span class="price-emphasis">€</span><span class="price-emphasis" data-id="averageRental"><%= @van.cost_per_night %></span> per day
                </div>
              <!-- Section: Pricing Breakdown & Book Button -->
                <form class="pricing-form ">
                  <fieldset class="col-xs-12">
                    <label>Pick up / Drop off</label>
                    <div class="input-wrapper input-underlined">
                      <i class="input-icon fa fa-calendar" aria-hidden="true"></i>
                      <div class="input-daterange input-group" id="datepicker">
                        <input type="text" name="start" />
                        <span>to</span>
                        <input type="text" name="end" />
                      </div>
                    </div>
                  </fieldset>

                <fieldset class="col-xs-12">
                  <label>Guests</label>
                  <div class="input-wrapper input-underlined">
                    <i class="input-icon fa fa-users" aria-hidden="true"></i>
                    <!-- select box  -->
                    <%= simple_form_for(@van) do |f| %>
                      <%= f.input :max_guest, :collection => %w[1 2 3 4], label: false %>
                    <% end %>
                  </div>
                </fieldset>

                <div id="dates-available-wrapper">
                  <div class="col-xs-12">
                    <div class="pricing-row" data-price-row="rnt" style="">
                      <div style="float:left">
                        <span data-price-title="rnt">€<span data-id="averageRental"><%= @van.cost_per_night %></span> x <span data-id="duration">7</span> day(s) <a data-toggle="collapse" data-target="#extra-info-prices"></a></span><a data-toggle="collapse" data-target="#extra-info-prices"><i class="fa fa-question-circle toggle-extra-info"></i></a>
                        <div id="extra-info-prices" class="collapse extra-info">
                          <p data-price-breakdown="rnt"><p>Standard rate: $<%= @van.cost_per_night %> x 7 day(s)</p></p>
                          <p></p><p>Daily rates fluctuate based off seasonal availability.</p><p></p>
                        </div>
                      </div>

                      <div style="float: right">
                        <span style="font-size:18px">€<span data-price-rowtotal="rnt"><%= @van.cost_per_night * 7 %></span></span>
                      </div>
                    </div>
                  </div>

                <div class="col-xs-12">
                  <div class="pricing-row" style="border-bottom: 0" data-price-row="total">
                    <div style="float:left">
                      <span><b>Total</b>(GST Inc)</span>
                    </div>
                  <div style="float: right">
                    <span><span style="font-size:18px"><b>€<span data-price-rowtotal="total"><%= @van.cost_per_night * 7 * 1.2 %></span></b>
                    </span></span></div>
                  </div>
                </div>

                <div class="col-xs-12">
                  <div class="btn-request-booking-wrapper">
                    <div id="btn-request-booking" class="btn btn-primary btn-block btn-request-booking">Make Booking</div>
                  </div>
                </div>
              </div>
            </form>
              <!-- Section: Blank Space -->

              </div>
            </div>
          </div>        <!-- Listing-Pricing Ends-->
              </div>
      </div>

      <hr>
      <!-- SECTION -->
      <div class="row">
        <div class="col-md-8 listing-row">
          <div class="about">
            <div class="section">
              <h2>About the van</h2>
              <div class="user-editable-text"><%= @van.description %></div>
            </div>
          </div>
        <hr>
        </div>
    </div>
  </div>


<%= javascript_pack_tag 'datepicker' %>

<%= link_to "Back", vans_path, class: "btn btn-primary" %>
