<div class="card">
  <div class="card-image-wrapper">
    <div class="card-heart">
    <span class="fa fa-heart"></span>
    </div>
  </div>

  <div class="card-detail-wrapper">
    <div class="card-category"> <h4><%= link_to van.description, van_path(van) %></h4>
    </div>
    <div class="card-symbol" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= image_url 'camper.png' %>');">
  </div>
    <div class="card-information">
      <h5>cost per day:  <%= van.cost_per_night %>  </h5>
      <h5>max guests: <%= van.beds %>   </h5>
      <h5>transmission:  <%= van.transmission_type %>  </h5>
      <h5>Owner:  <%= van.owner.name %>  </h5>
    </div>

  </div>
</div>
