<h1>My Profile</h1>
<h2>My vans</h2>
  <div class="link-buttons">
    <%= link_to "Create a new van", new_van_path, class: "btn btn-primary" %>
  </div>
  <div class="profile-vans">
    <% @my_vans.each do |van| %>
      <div class="col-xs-12 col-md-3" >
        <%= render 'vans/card', van: van %>
      </div>
      <%end %>
  </div>
<h2>My Bookings</h2>
<div class="profile-vans">
  <% @my_bookings.each do |booking| %>
    <div class="col-xs-12 col-md-4" >
      <p><%= booking.start_date %> - <%= booking.end_date %></p>
      <%= render 'pages/bookings', van: booking.van %>
    </div>
    <%end %>
</div>






